<div style="padding: 5rem;">
  <ul>
    <% @donors.each do |donor| %>
      <li><h4><%= donor.user.first_name %> <%= donor.user.last_name %></h4></li>
      <li><%= donor.user.address %></li>
      <li><%= donor.user.blood_type %></li>
    <% end %>
  </ul>
</div>
