<div style="padding: 5rem;">
  <ul>
    <% @donors.each do |donor| %>
      <li><%= donor.name %></li>
      <li><%= donor.address %></li>
      <li><%= donor.blood_type %></li>
    <% end %>
  </ul>
</div>
