.donor-section {
  background-color: #FFF1F2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  min-height: 100vh;
  padding: 1px;
}

// .container-fluid {
//   max-width: 1200px;
//   margin: 0 auto;
// }

.header {
  text-align: center;
}

.header-text h2 {
  color: #EC1B35;
  font-size: 1.6rem;
  margin-bottom: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.header-text p {
  color: #6c757d;
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  margin: 6px;
}

.header-cards {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.header-card {
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background: white;
}

.header-card .card-body {
  margin-top: 15px;
  text-align: center;
}

.card-body .donation {
  display: flex;
}

.header-card i {
  font-size: 2rem;
  color: #EC1B35;
  margin-bottom: 10px;
}

.cards-grid {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.stats-card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 1rem;
  padding-top: 15px;
}

.matching-request {
  margin: 20px 0;
  background: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding-bottom: 15px;
  padding-top: 15px;
}

.matching-request .btn-outline-danger:hover {
  background-color: #EC1B35;
  color: white;
  border-color: #EC1B35;

}

.matching-request .btn-outline-danger {
  border-radius: 10px;
  transition: all 0.3s ease;
}

.feature-card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: none;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  // justify-content: space-between;
  height: 100%;
  margin-bottom: 20px;
}

.card-icon {
  background-color: white;
  color: #EC1B35;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  border: none !important;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.card-text {
  flex: 1;
  padding: 0 20px;
}
