.patient-section {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #FFF1F2;
  padding: 1px;
}

.header-text h2 {
  justify-content: center;
  color: #EC1B35;
  margin: 15px 0px 0px;
  font-size: 1.6rem;
}

.header-text p {
  justify-content: center;
  color: #6c757d;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 300;
  margin: 6px;
}

.blood-request {
  border-radius: 20px;
  display: flex;
  background-color: #EC1B35;
  padding: 15px 20px;
  color: #FFF1F2;
  margin-top: 20px;
  align-items: center;
}

.card-head {
  display: flex;
  gap: 20px;
  align-items: center;
}

.card-icon {
  background-color: #EC1B35;
  color: #FFF1F2;
  width: 40px;
  height: 40px;
}

.card-icon-text h6 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFF1F2;
  // margin: 0;
}

.blood-request p {
  color: #FFF1F2;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.blood-request .btn {
  background-color: #FFF1F2;
  color: #EC1B35;
  width: 70%;
  justify-content: center;
  font-size: 1rem;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
  align-items: center;
}

.blood-request-card {
  display: grid;
  gap: 20px;
  margin: 20px 0px;
}

.donor-count {
  padding: 20px 0px 0px;
  color: #FFF1F2;
  background-color: #EC1B35;
  max-height: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.donor-count h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFF1F2;
}

.donor-count p {
  color: #FFF1F2;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.blood-request-count {
  padding: 20px;
  color: #FFF1F2;
  background-color: #EC1B35;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100px;
}

.blood-request-count h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFF1F2;
}

.blood-request-count p {
  color: #FFF1F2;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0px;
}

.blood-request-count .btn {
  background-color: #FFF1F2;
  color: #EC1B35;
  width: 70%;
  justify-content: center;
  font-size: 1rem;
  margin: 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
  align-items: center;
}

.blood-request-history {
  border-radius: 20px;
  display: flex;
  background-color: #EC1B35;
  padding: 15px 20px;
  color: #FFF1F2;
  margin: 20px 0px 20px;
  align-items: center;
}

.blood-request-history p {
  color: #FFF1F2;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0px;
  text-align: center;
}

.blood-request-history .btn {
  background-color: #FFF1F2;
  color: #EC1B35;
  width: 70%;
  justify-content: center;
  font-size: 1rem;
  margin: 15px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
  align-items: center;
}

.donors-card {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: #EC1B35;
  padding: 15px 20px;
  color: #FFF1F2;
  margin-top: 20px;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.donors-card p {
  color: #FFF1F2;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0px;
  text-align: center;
}

.donors-card .btn {
  background-color: #FFF1F2;
  color: #EC1B35;
  width: 70%;
  justify-content: center;
  font-size: 1rem;
  margin: 15px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 600;
  align-items: center;
}
