<div class="main-content">
  <%# home page for donor %>
  <% if current_user.donor? %>
    <%= render partial: 'donor_content' %>
  <%# home page for patient %>
  <% else %>
    <%= render partial: 'patient_content' %>
  <% end %>
</div>
