.blood-row-grid {
  display: grid;
  grid-template-columns: 60px 1fr;
  column-gap: 12px;
  min-height: 70px;
  align-items: start;
}

.blood-type-box {
  width: 60px;
  height: 60px;
  border: 2px solid #EC1B35;
  border-radius: 14px;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;
  font-weight: 700;
  color: #EC1B35;
  letter-spacing: -1px;
}

.facility-name {
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1.3;
  word-break: break-word;
  margin-bottom: 3px;
  max-height: 2.6rem;
  overflow: hidden;
}

.urgency-row {
  font-size: 0.9rem;
  margin-bottom: 2px;
  font-weight: 600;
}

.needed-row {
  font-size: 0.85rem;
  color: #6c757d;
}

.info-row {
  margin-top: 8px;
  color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.95rem;
  gap: 8px;
}

.text-danger {
  color: #EC1B35 !important;
}

.show-grid-row {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 12px;
  align-items: start; /* stops shifting */
}

.show-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
