
.table {
  th, td {
    vertical-align: middle;
    text-align: center;
  }

  td[data-label]::before {
    display: none;
  }
}

.table.table-bordered {
  border: 1px solid #d40000;
}

.table.table-bordered th,
.table.table-bordered td {
  border: 1px solid #d40000 !important;
}

.table thead th {
  color: #d40000;
  font-weight: bold;
}


.table thead {
  background-color: #fff !important;
}


@media (max-width: 576px) {
  .table-responsive {
    overflow-x: auto;
  }

  .table td, .table th {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .btn {
    width: 100%;
  }
}
